.div-footer {
  padding-bottom: 10px;
  background: #812A71;
  font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
  font-size: large;  
}

@font-face {
  font-family: 'Ubuntu-Bold';
  /* Nombre que asignarás a la fuente */
  src: url('Fuentes/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  /* Nombre que asignarás a la fuente */
  src: url('Fuentes/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}